<div class="user-nav">
    <a class="all_accomodations" href="/dashboard">All Accomodations</a>
    <a class="create_post" href="/houses/add">Create Post</a>
    <a class="user_profile" href="/userProfile">User Profile</a>
    <a class="logout" href="/logout">Logout</a>
</div>

{{#if addReview}}
<h2 class="house-post">Add your review</h2>
<form id="ajax-review-form" class="review-form" action="/reviews/{{house._id}}" method="POST">
    <div>
        <label for="rating">Rating (1-5)</label>
        <input type="number" name="rating" id="rating" step="0.1" min="1" max="5" required>
        <label for="reviewText">Review:</label>
        <textarea name="review" id="reviewText" required></textarea>
        <button type="submit">Add a Review</button>
    </div>
</form>

{{/if}}

{{#if house.reviews}}
<h2 class="house-post">Reviews: </h2>
{{#each house.reviews}}
      <div class="review-element">
        <p>Rating: {{this.rating}}</p>
        <p>Review: {{this.review}}</p>
        <p>Date: {{this.reviewDate}}</p>
        {{#if this.reviewed}}
        <form action="/reviews/{{../house._id}}/{{this._id}}/delete" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
        {{/if}}
      </div>
{{/each}}
{{else}}No Review Yet{{/if}}

<script>
  document.getElementById("ajax-review-form").addEventListener("submit", async (event) => {
    event.preventDefault();

    const accommodationId = '{{house._id}}';
    const rating = document.getElementById("rating").value;
    const reviewText = document.getElementById("reviewText").value;

    const reviewData = {
      rating,
      review: reviewText,
    };

    try {
      const response = await fetch(`/reviews/${accommodationId}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(reviewData),
      });

      if (response.ok) {
        alert("Review submitted successfully");
        location.reload();
      } else {
        throw new Error(`Error submitting review: ${response.statusText}`);
      }
    } catch (error) {
      alert(`Error: ${error.message}`);
    }
  });
</script>
