<section class="main-element">
    <div class="row">
            <h2>{{house.type}} {{house.category}} in {{house.city}}, {{house.state}}</h2>
            <img src ="{{#if house.images.[0].url}}{{house.images.[0].url}}{{else}}../public/images/No_Image_Available.jpg {{/if}}">
            <div class="carousel-inner">
                {{#each house.images}}
                    <div class="carousel-item {{#unless @index}}active{{/unless}}">
                        <img class="d-block w-100" 
                        src="{{#if this.url}}{{this.url}}{{else}}../public/images/No_Image_Available.jpg{{/if}}" 
                        alt="{{#if ../name}}{{../name}}{{else}}N/A{{/if}}"
                        style="width: 100%;">
                    </div>
                {{/each}}
            </div>
            <br>
            <address>Address: {{#if house.address.line1}}{{house.address.line1}}{{else}}N/A{{/if}}, 
                {{#if house.city}}{{house.city}}{{else}}N/A{{/if}},
                {{#if house.state}}{{house.state}}{{else}}N/A{{/if}}
                    {{#if house.zip}}{{house.zip}}{{else}}N/A{{/if}}
            </address>
            <p>Rent: {{house.rent}}</p>
            <p>Description: {{house.description}}</p>
    </div>
</section>

<form method="POST" class="comments-form">
    <div>
        <label for="commentInput">Comments</label>
        <textarea name="commentInput" cols="75" rows="3" id="commentInput" ></textarea>
        <button type="submit" id="submitButton" >Post</button>
    </div>
</form>


{{#each house.comments}}
    <div>
        {{this.firstName}} {{this.lastName}}
    </div>
    <div>
        {{this.comment}}
    </div>
{{/each}}
