<div class="user-nav">
    <a class="all_accomodations" href="/dashboard">All Accomodations</a>
    <a class="create_post" href="/houses/add">Create Post</a>
    <a class="user_profile" href="/userProfile">User Profile</a>
    <a class="logout" href="/logout">Logout</a>
</div>

<article class="house-element">
    <div class="house-details">
        <div class="house-title">
            <h2>{{house.roomType}} {{house.roomCategory}} in {{house.city}}, {{house.state}} for ${{house.rent}}</h2>
            <h3 class="house-rating">{{#if rating}}{{rating}}/5{{/if}} <br> 
                <a href="/reviews/{{house._id}}">{{#if sameUser}}View Review{{else}}Add/View Review{{/if}}</a>
            </h3>
        </div>
        <p>Posted By: {{userInfo.firstName}} {{userInfo.lastName}}</p>
        <p>PostDate: {{house.postDate}}</p>
    </div>
    <div class="image-carousel">
        {{#each house.imageUrls}}
            <div class="image-container">
                <img class="image" src="{{this}}" 
                alt="{{house.type}} {{house.category}} in {{house.city}}, {{house.state}}">
            </div>
        {{/each}}
        <a class="prev" onclick="plusSlides(-1)">Previous</a>
        <a class="next" onclick="plusSlides(1)">Next</a>
    </div>
    <br>
    <div class="address-details">
        <address>Address: {{#if house.address}}{{house.address}}{{else}}N/A{{/if}}, 
            {{#if house.city}}{{house.city}}{{else}}N/A{{/if}},
            {{#if house.state}}{{house.state}}{{else}}N/A{{/if}}
        </address>
        <p>Description: {{house.description}}</p>
    </div>
    {{#if sameUser}}
        <div class="edit-house">
            <form action="/houses/{{house._id}}/edit" method="get">
                <button type="submit">Edit</button>
            </form>
        </div>
        <div class="delete-house">
            <form action="/houses/{{house._id}}/delete" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </div>
    {{/if}}
</article>


<form method="POST" class="comments-form">
    <div>
        <label for="commentInput">Comments</label>
        <textarea name="commentInput" cols="118" rows="5" id="commentInput" ></textarea>
        <button type="submit" id="submitButton" onclick="validateComment()">Post</button>
        <span style="color:red" id="errorComment" hidden></span>
    </div>
</form>

{{#if house.comments}}
    <h2 class="house-post">Comments:</h2>
    <article class="comment-element">
        {{#each house.comments}}
            <div class="comments-div">
                <div class="comments-name">
                    <h3>{{this.firstName}} {{this.lastName}} at {{this.commentDate}}</h3>
                </div>
                <div class="comment-details">
                    <p>{{this.comment}}</p>
                </div>
            </div>
        {{/each}}
    </article>
{{/if}}

{{#unless sameUser}}
    <form method="POST" class="interest-form">
        <div>
            <label for="interestInput">Interested? Send your phone number: </label>
            <textarea name="interestInput" cols="26" rows="1" id="interestInput" ></textarea>
            <button type="submit" id="submitButton" onclick="validateInterest()">Send</button>
            <span style="color:red" id="errorComment" hidden></span>
        </div>
    </form>
{{/unless}}

{{#if house.interest}}
    {{#if sameUser}}
        <h2 class="house-post">Interested Users:</h2>
        <article class="comment-element">
            {{#each house.interest}}
                <div class="comments-div">
                    <div class="comment-details">
                        <p>{{this}}</p>
                    </div>
                </div>
            {{/each}}
        </article>
    {{/if}}
{{/if}}

<script src="../public/js/houseDetails_validator.js"></script>