<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houses List</title>
    <!-- Add any CSS or other resources here -->
    {{#if successMessage}}
        <p class="success">{{successMessage}}</p>
    {{/if}}
</head>
<body>
    <h1>Houses List</h1>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Category</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Rent</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each housesList}}
                <tr>
                    <td>{{this.type}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.state}}</td>
                    <td>{{this.zip}}</td>
                    <td>{{this.rent}}</td>
                    <td>{{this.description}}</td>
                    <td>
                        <a href="/house/{{this._id}}/edit">Edit</a>
                        <a href="/house/{{this._id}}/delete">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>